asgiref
backoff
blinker
branca
certifi
charset-normalizer
click
colorama
contourpy
cycler
distlib
Django
filelock
Flask
folium
fonttools
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mysql-connector-python
mysqlclient
numpy
opencage
packaging
pandas
phonenumbers
Pillow
platformdirs
protobuf==3.20.3
pyparsing
python-dateutil
pytz
requests
six
sqlparse
typing_extensions
tzdata
urllib3
virtualenv
Werkzeug
